*.[oa]
*~
clients/connect
clients/get_nodes
clients/spider
clients/cycle
clients/getaddr
clients/getaddr_wrapped
clients/connect_harvester
clients/reconnector
clients/kill_dupes
tools/logchecker
tools/logtruncate
tools/logfixer
connector/main
logclient/console
logclient/verbatim
logserver/main
*.out
*.pyc
\#*#
